body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.first_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    background-color: rgb(227, 227, 255);
    padding: 20px;
}

footer {
    background-color: rgb(255, 222, 209);
    padding: 20px;
}

.first_form {
    padding: 20px;
}

.inputs {
    margin: 10px;
    width: 200px;
    height: 35px;
    border-radius: 5px;
}

.text_area {
    margin: 10px;
    width: 300px;
    height: 80px;
    border-radius: 5px;
    padding: 5px;
}

.submit_button {
    margin: 10px;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(0, 235, 51);
}

.navbar_item {
    text-decoration: none;
    padding: 20px;
    color: rgb(68, 68, 68);
}

.navbar_item:hover {
    text-decoration: none;
    padding: 20px;
    color: darkgray;
}
.title{
    display: flexbox;
}
.redText{
    color: red;
    font-size: .8em;
}

